// Primitive
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorBlue: #6fb0fe;
$colorYellow: #FFF500;
$colorRed: #ff4040;
$colorGreen: rgba(75, 217, 9, 1);
$colorOrange: rgba(245, 158, 11, 1);
$colorPink: #F86ED6;
$colorPink5: #94387d;



// linear 

$colorBlack5: linear-gradient(255.34deg, rgba(255, 255, 255, 0.282) -32.58%, rgba(255, 255, 255, 0) 119.55%);