@import '../../assets/styles/mixins';
.testWrap {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.Layout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacing(10);

}
@include forDesktopMiddle {
  .Layout {
    flex-direction: column;
    text-align: center;
  }
}
@include forTablet {
  .testWrap {
    display: block;
  }
}